@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .dark\\:bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
  }

  .dark\\:text-white {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
  }

  .dark\\:text-gray-300 {
    --tw-text-opacity: 1;
    color: rgba(209, 213, 219, var(--tw-text-opacity));
  }

  .dark\\:hover\\:text-gray-300:hover {
    --tw-text-opacity: 1;
    color: rgba(209, 213, 219, var(--tw-text-opacity));
  }
}
@import url('typeface-inter');
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Inter', sans-serif;
}
.btn-toggle-dark-mode {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
  }
  ::-webkit-scrollbar{
    width: 3px;
}
::-webkit-scrollbar-thumb{
    background-color: #7B7B7B;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: #333533;
}